/* recipes styles*/

* {
  margin: 0px;
}

body {
  background-color: #0F0F0F;
}


/* main title */

.title.recipe-title {
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: #181818;
  margin-bottom: 30px;
  font-family: "Brush Script MT", sans-serif;
}


/* recipes images */

img.img-recipe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: auto;
  width: 300px;
  border-radius: 50px;
}


/* recipe description */

div.description-recipe-div {
  text-align: center;
  background-color: white;
  border: 3px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  
}

.description-recipe-title {
  color: black;
  font-size: 30px;
}

.description-recipe {
  color: black;
  font-size: 20px;
}


/* recipe ingredients */

.ingredients-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-list,
.ingredients-title {
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 18px;
}

.ingredients-list {
  padding: 0px 30px 10px 30px;
  border: 3px;
  border-style: dashed;
  border-color: green;
 }

.ingredients-title {
  text-align: center;
  color: green;
  font-size: 30px;
}


/* recipe steps */

.steps-div {
  background-color: #282828;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px;
  border-color: yellow;
  border-style: solid;
  border-radius: 5px;
}

.steps-div .steps-title {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.steps-div .steps-list {
  font-size: 20px;
  color: white;
}

.steps-div .steps-list li {
  margin-top: 10px;
}

.steps-div .steps-list .last-step {
  margin-bottom: 20px;
}

.steps-div p {
  color: rgb(255, 82, 62);
  text-align: center;
  font-size: 23px;
}